
.property-street {
  width: 100%;
}
.property-city {
  width: 170px;
}
.property-state {
  width: 60px;
}
.property-zip {
  width: 100px;
}
.property-field {
  @include box-sizing(border-box);
  margin: 2.7em 0 1.5em 10%;
  display: block;
}
.property-field div {
  vertical-align: middle;
}
.property-field-heading {
  color: #999;
  font-size: 15px;
  display: inline-block;
  font-weight: lighter;
  position: relative;
}
.property-field-info {
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
}