
#flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #ccc;
}
#snap {
  position: relative;
  flex: 3;
  width: 100%;
  min-width: 320px;
  height: 80vh;
  overflow-x: hidden;
  padding: 30px;
  overflow-y: auto;
  @include box-sizing(border-box);
  @media (max-width: 600px) {
  height: 100vh;
  }
}
#app-window {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  @include border-radius($radius);
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}
#contact-list {
  @include box-sizing(border-box);
  width: 100%;
  padding: 10px;
}