<div>
  <div class="edit-button button" ng-click="open()">Edit</div>
  <property-field
  	class="property-field slide-right"
  	heading="headings[0]"
  	info="contactInfo.givenName">
  </property-field>
  <property-field
  	class="property-field slide-right"
  	heading="headings[1]"
  	info="contactInfo.surname">
  </property-field>
  <property-field
  	ng-repeat="n in contactPhone"
  	class="property-field slide-right"
  	heading="n.phoneType"
  	info="n.phoneNumber">
  </property-field>
  <property-field
  	ng-repeat="n in contactAddress"
  	class="property-field slide-right"
  	heading="n.addressType"
  	info="n.street"
  	more-info="n.city + ', ' + n.state + ' ' + n.postalCode">
  </property-field>
</div>